@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: 'Circular-Loom';
  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2'); 
}
@font-face {
  font-weight: 500;
  font-style:  normal;
  font-family: 'Circular-Loom';
  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
}
@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: 'Circular-Loom';
  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
}
@font-face {
  font-weight: 900;
  font-style:  normal;
  font-family: 'Circular-Loom';
  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #eee;
  font-family: 'Lato', sans-serif;}

#features{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.feature{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10rem 4rem 10rem;
}
.icon {
  margin-right: -5rem;
  width: 20vw;
  color: darkorange;
}

.feature-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  padding: 5px;
}